{% extends 'warranty/layout.html'%}
{% load crispy_forms_tags %}
{% block title%}Thêm phiếu tiếp nhận{% endblock %}
{% block content %}

<form action="" method="post">{% csrf_token %}
    <div>
        <h1 class="text-center">Thêm mới phiếu tiếp nhận</h1>
    </div>

    <div id="div_id_item" class="form-group">
        <input type="hidden" name="item" value="" required>
    </div>

    <div id="div_id_content" class="form-group">
        <label for="id_content" class=" requiredField">Nội dung</label>
        <textarea name="content" cols="40" rows="2" class="textarea form-control" required id="id_content"></textarea>
    </div>

    <div id="div_id_date" class="form-group">
        <label for="id_date" class=" requiredField">Ngày thực hiện</label>
        <input type="date" name="date" class="dateinput form-control" required id="id_date">
    </div>

    <div id="div_id_note" class="form-group">
        <label for="id_note" class="">Ghi chú</label>
        <textarea name="note" cols="40" rows="2" class="textarea form-control" id="id_note"></textarea>
    </div>


    <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>
{% endblock %}