{% extends 'warranty/layout.html'%}
{% load crispy_forms_tags %}
{% block title%}{{ note_detail }}{% endblock %}
{% block content %}
<h1>{{ note_detail }}</h1>
<hr>
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#formModal">Thêm sản
    phẩm</button>
<a href="{% url 'warranty:note_update' note_detail.id %}" class="btn btn-outline-info">Sửa thông tin phiếu</a>
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'warranty:item_add' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="noteNumber" value="{{ note_detail.id }}">
                    {{ form|crispy }}
                
                <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>

        </div>
    </div>
</div>

{% if items %}
<table data-toggle="table" data-search="true">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Nhóm sản phẩm</th>
            <th>Tình trạng tiếp nhận</th>
            <th>Đánh giá</th>
            <th>Kết luận</th>
            <th>Deadline</th>
            <th>Tiến độ</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>

        {% for item in items %}
        <tr>
            <td>{{ item.itemName }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.get_itemGroup_display }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.check }}</td>
            <td>{{ item.conclude }}</td>
            <td>{{ item.deadline|date:"j/n/Y" }}</td>
            <td>{{ item.get_done_display }}</td>
            <td>{{ item.note }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% else %}
<h2>Chưa có sản phẩm nào</h2>
{% endif %}


{% endblock %}